* {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* 
main {
  min-height: 500px;
  min-width: 400px;
  height: 500px;
  width: 400px;
  max-height: 500px;
  max-width: 400px;
} */

a {
  text-decoration: none;
  cursor: pointer;
}

#toggle {
  cursor: pointer;
}

.first-column {
  max-width: 48px;
  max-height: 48px;
}

.contest-logo {
  padding-right: 5px;
}

.mid-column {
  width: 80%;
  max-width: 80%;
  overflow: hidden;
}
.contest-heading {
  font-size: small;
  overflow: hidden;
}

.contest-duration,
.contest-datetime {
  font-size: x-small;
}
