/* nothing here */
main {
  min-height: 500px;
  min-width: 400px;
  height: 500px;
  width: 400px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: blueviolet;
}

#ContestList,
#HomePage,
#Settings {
  background: #fff;
  border: 0px;
  border-radius: 8px;
}

#MainContent {
  height: 100%;
}
.container-fluid {
  height: 100%;
}
