/* nothing here */
main {
  min-height: 500px;
  min-width: 400px;
  height: 500px;
  width: 400px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

<<<<<<< HEAD
#ContestList
{
  font-size: 20px;
=======
footer {
  background-color: blueviolet;
}

#ContestList,
#HomePage,
#Settings {
  background: #fff;
  border: 0px;
  border-radius: 8px;
}

#MainContent {
  height: 100%;
}
.container-fluid {
  height: 100%;
>>>>>>> b3b9500b5904bedfd5fbf3e761b26829d614878d
}
